<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
    <script src="./vue.js"></script>
    <style>
        img.small {
            width: 50px;
            height: 50px;
        }
        img.medium {
            width: 100px;
            height: 100px;
        }
        img.large {
            width: 200px;
            height: 200px;
        }
        .married {
            background: red;
            color: white;
        }
        .single {
            background: green;
            color: white;
        }
        .with-padding {
            padding: 20px;
        }
        .male {
            background: lightblue;
        }
        .female {
            background: pink;
        }
        .mt-10 {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <img v-bind:src="pic" v-bind:class="profilePicClass" />
        <input v-model="firstName" /> <input v-model="lastName" />
        <p>
            Hi, I'am {{ fullName }}.<br/>
            A {{ age }} years old, I'am {{ gender }}.<br/>
            I was born at {{ birthDate }}.
        </p>
        <select v-model="status">
            <option value="single">Single</option>
            <option value="married">Married</option>
        </select>
        <div v-bind:class="[status, 'with-padding']">
            The color will varies in your status:
            <div>Green means single</div>
            <div>Red means married</div>
        </div>
        <select v-model="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <div v-bind:class="[{ male: gender === 'male', female: gender === 'female' }, 'with-padding']">
            The color will depends on your gender
            <div>Light Blue means male</div>
            <div>Pink means female</div>
        </div>
        <p>My moto in life is:</p>
        <div v-html="moto"></div>
        <div v-once>What ever you do can't change my name, I am still {{ fullName }}</div>
        <div>My hobby is runing for:</div>
        <div><input type="text" v-model="kilometers" v-bind:placeholder="kilometersLabel" :style="{ padding: inputPadding }" />km/day</div>
        <div><input type="text" v-model="meters" :placeholder="metersLabel" :style="inputStyle" />m/day</div>
        <div class="mt-10">
            Do you have Childrens? <input type="checkbox" v-model="haveChildren" />
        </div>
        <div v-show="haveChildren">
            <p>Total Children: {{ totalChildren }}</p>
            <div v-for="(child, index) in children" :key="index">
                Name: {{ child.name }} Age: {{ child.age }} <button @click="removeChild(index)">Remove</button>
            </div>
            <div>Add Child</div>
            <div>
                Name: <input type="text" ref="newChildName" /> Age: <input type="text" ref="newChildAge" /> <button v-on:click="addChild">Add Child</button>
            </div>
        </div>
        <div v-if="status === 'married'" class="mt-10">
            Wow you have already married
        </div>
        <test>dasd</test>
    </div>
    <template id="com"><div><slot>test</slot></div></template>
    <script type="text/javascript">
        Vue.component('test', { el: '#com' })
        var vm = new Vue({
            el: '#app',
            data: {
                pic: './avatar.png',
                profilePicClass: 'small',
                firstName: 'Cydrick',
                lastName: 'Nonog',
                birthDate: '1993-07-28',
                moto: '<h3>There are many ways to kill a chicken.</h3>',
                gender: 'male',
                kilometers: '',
                meters: '',
                kilometersLabel: 'Kilometers',
                metersLabel: 'Meters',
                status: 'married',
                inputPadding: '10px',
                inputStyle: {
                    padding: '10px',
                    border: '1px solid black',
                    margin: '5px 5px 0px 0px'
                },
                haveChildren: false,
                children: [
                    { name: 'Henry', age: 1 },
                    { name: 'Ethan', age: 2 },
                    { name: 'Xidd', age: 3 }
                ]
            },
            methods: {
                changeName: function (newName) {
                    this.firstName = newName
                },
                computeAge: function () {
                    let diff = ((new Date()).getTime() - (new Date(this.birthDate)).getTime()) / 1000
                    diff /= (60 * 60 * 24)

                    return parseInt(diff/365.25)
                },
                addChild() {
                    let name = this.$refs.newChildName.value
                    let age = this.$refs.newChildAge.value

                    this.children.push({ name: name, age: age })
                },
                removeChild(index) {
                    this.children.splice(index, 1)
                    //this.$delete(this.children, index)
                }
            },
            computed: {
                totalChildren () {
                    return this.children.length
                },
                age: function () {
                    return this.computeAge()
                },
                fullName: function () {
                    return this.firstName + ' ' + this.lastName
                }
            },
            watch: {
                meters: function (val) {
                    this.kilometers = val / 1000
                },
                kilometers: function (val) {
                    this.meters = val * 1000
                },
                children() {
                    if (this.totalChildren == 0) {
                        this.haveChildren = false
                    }
                }
            },
            mounted: function () {
                setTimeout(() => {
                    this.changeName('Xidd')
                    this.profilePicClass = 'medium'
                }, 1000)

                setTimeout(() => {
                    this.profilePicClass = 'large'
                }, 2000)
            }
        })
    </script>
</body>
</html>
